* {
    margin: 0;
    padding: 0;
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("fundo.png");
    background-size: couver;
    z-index: 0;
}

.formulario {
    background-color: #000;
    border-radius: 12px;
    padding: 48px 24px;
    color: #fff;
    z-index: 2;
    
}

.campos {
    gap: 8px;
    display: flex;
    flex-direction: column;

}
.campos button {
    background-color: #E50914;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-top: 12px;
    padding: 5px 0px;
    border: none;

}
.campo {
    padding: 8px 12px;
    color: 9c9c9c;
    border-radius: 4px;
    background-color: #333;
    border: none;
    
}

.campo:placeholder {
    color: 9c9c9c;
}


h1 {
   font-size: 32px;
  
}
.overlay {
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    height: 100%;
    position:absolute;
    z-index: 1;

}
.home {
display: flex;
gap:50px;
flex-direction:column;
background-color: #000;


}

.navigation {
    display:flex;
    justify-content: flex-end;
    background-color: rgba(255,0,0,0.4);
    padding: 10px 0;
}

.navigation ul {
    display:flex;
    justify-content: space-between;
    list-style:none;
    color: #fff;
    gap: 12px;
    padding: 0 12px;
}

.navigation ul li {
    background-color: rgba(255,0,0,0.7);
    padding: 8px;
}

 .video-description {
width: 500px;
height: 200px;
color: #fff;
padding: 24px;
display: flex;
justify-content: space-between;
flex-direction: column;
border: 1px solid #fff;
 }

 .card-list {
    background-color: rgba(255,0,0,0.6);
    height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

 }
 .card-list-item {
    background-color: rgba(255,0,0,0.6);
    flex: 1;
 }
 .button {
    background-color: #E50914;
    padding: 12px 24px;
    border-radius: 8px;
    color: #fff;
    width: 200px;
 }
